Repository paifgx/quizdom: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

frontend-eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm run test:unit'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ --tb=short'
  language: system
  pass_filenames: false

feat(hooks): implement endGame function in useHybridGameFlow
  frontend/app/hooks/useHybridGameFlow.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

refactor: streamline imports and enhance code organization
  backend/alembic/env.py
  backend/alembic/versions/000_initial_initial_schema.py
  backend/alembic/versions/001_implement_erm.py
  backend/alembic/versions/002_game_tracking.py
  backend/alembic/versions/ada817a8cedb_change_difficulty_column_to_integer.py
  backend/app/core/metrics.py
  backend/app/core/security.py
  backend/app/db/models.py
  backend/app/db/seed_quiz_data.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/routers/admin_router.py
  backend/app/routers/game_router.py
  backend/app/routers/user_router.py
  backend/app/schemas/game.py
  backend/app/schemas/user.py
  backend/app/services/game_service.py
  backend/app/services/quiz_admin_service.py
  backend/tests/test_models.py
Due: backend-tests

refactor: improve code readability by consolidating exception handling
  backend/alembic/env.py
  backend/alembic/versions/001_implement_erm.py
  backend/app/routers/admin_router.py
Due: backend-tests

refactor(auth): improve code readability and update test assertions
  backend/app/routers/auth_router.py
  backend/tests/test_auth.py
  backend/tests/test_models.py
  backend/tests/test_user_management.py
Due: backend-tests

Update QUIZDOM_STATUS_AND_TASKS.md
  docs/QUIZDOM_STATUS_AND_TASKS.md
Due: none

refactor(models, schemas, services): enhance enum handling and improve code readability
  backend/app/db/models.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
  frontend/app/routes/test-game.tsx
  frontend/app/types/game.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

docs(status-tasks): update deployment-status checklist
  docs/QUIZDOM_STATUS_AND_TASKS.md
Due: none

Added a button 8 (pen)
  frontend/public/buttons/Pen.png
Due: none

refactor(devcontainer, backend, frontend): streamline configurations and enhance game functionality
  .devcontainer/devcontainer.json
  backend/app/routers/admin_router.py
  frontend/app/components/game-modes/all-quizzes-selection.tsx
  frontend/app/components/game-modes/index.ts
  frontend/app/components/game-modes/quiz-selection.tsx
  frontend/app/components/game/invite-modal.tsx
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/components/nine-slice-quiz/quiz-container.tsx
  frontend/app/contexts/GameContext.tsx
  frontend/app/hooks/useGameWithBackend.ts
  frontend/app/routes.ts
  frontend/app/routes/game-modes.tsx
  frontend/app/routes/join.$sessionId.tsx
  frontend/app/routes/quiz-game.tsx
  frontend/app/routes/test-game.tsx
  frontend/app/services/api.ts
  frontend/app/services/game-api.ts
  frontend/app/services/game.ts
  frontend/app/services/ws.ts
  frontend/app/types/game.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

feat(seed): enhance database seeding with additional test users and improved output
  backend/app/db/seed.py
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/hooks/useGameWithBackend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

feat(seed): enhance quiz data seeding with structured topics and quizzes
  backend/app/db/seed.py
  backend/app/db/seed_quiz_data.py
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/contexts/GameContext.tsx
  frontend/app/routes/quiz-game.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

feat(game): implement session joining and status retrieval for multiplayer games
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/routes/join.$sessionId.tsx
  frontend/app/routes/quiz-game.tsx
  frontend/app/services/game.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

refactor(quiz-game): simplify state management and enhance user experience
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/hooks/useGameWithBackend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat(game): enhance multiplayer state management and player polling
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/hooks/useGameWithBackend.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

chore(frontend): update Dockerfile to use Node.js 22-alpine
  frontend/Dockerfile
Due: none

refactor(auth): transition to sessionStorage for token management and enhance documentation
  frontend/app/services/auth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

MVP v1 (#24)
  .devcontainer/devcontainer.json
  backend/app/db/models.py
  backend/app/db/seed.py
  backend/app/db/seed_quiz_data.py
  backend/app/routers/admin_router.py
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
  docs/QUIZDOM_STATUS_AND_TASKS.md
  frontend/Dockerfile
  frontend/app/components/game-modes/all-quizzes-selection.tsx
  frontend/app/components/game-modes/index.ts
  frontend/app/components/game-modes/quiz-selection.tsx
  frontend/app/components/game/invite-modal.tsx
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/components/nine-slice-quiz/quiz-container.tsx
  frontend/app/contexts/GameContext.tsx
  frontend/app/hooks/useGameWithBackend.ts
  frontend/app/routes.ts
  frontend/app/routes/game-modes.tsx
  frontend/app/routes/join.$sessionId.tsx
  frontend/app/routes/quiz-game.tsx
  frontend/app/routes/test-game.tsx
  frontend/app/services/api.ts
  frontend/app/services/auth.ts
  frontend/app/services/game-api.ts
  frontend/app/services/game.ts
  frontend/app/services/ws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

Refactor authentication storage from localStorage to sessionStorage
  frontend/app/contexts/auth.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

Add database backup and restore functionality in Makefile
  .devcontainer/Dockerfile
  .gitignore
  Makefile
  backend/app/db/seed_quiz_data.py
  backend/app/main.py
Due: backend-tests

Enhance database backup and restore commands in Makefile
  Makefile
Due: none

Update Dockerfile and API configurations to require VITE_API_URL for production
  frontend/Dockerfile
  frontend/README.md
  frontend/app/api/client.ts
  frontend/app/services/ws.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

Add environment variable documentation and CORS configuration
  backend/README.md
  backend/app/main.py
Due: backend-tests

Update user manual and translations with last additions
  Makefile
  frontend/app/routes/user-manual.tsx
  frontend/app/utils/translations.ts
  user-manual.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

fix: added missing word
  frontend/app/routes/user-manual.tsx
  user-manual.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

Add WebSocket functionality and testing framework
  backend/.coveragerc
  backend/app/main.py
  backend/app/routers/ws_router.py
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/SUMMARY.md
  backend/tests/conftest.py
  backend/tests/e2e/test_websocket.py
  backend/tests/factories.py
  backend/tests/integration/test_game_api.py
  backend/tests/test_app.py
  backend/tests/test_auth.py
  backend/tests/test_models.py
  backend/tests/test_security.py
  backend/tests/test_user_management.py
  backend/tests/unit/test_game_service.py
Due: backend-tests

fix(multiplayer): ensure consistent player perspective across browsers
  frontend/app/hooks/useGameWithBackend.ts
  frontend/app/routes/quiz-game.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat: implement search functionality in user manual
  frontend/app/app.css
  frontend/app/routes/user-manual.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat: enhance search functionality in user manual
  frontend/app/routes/user-manual.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

refactor: improve search result handling in user manual
  frontend/app/routes/user-manual.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

refactor: optimize user manual component with memoization and callbacks
  frontend/app/app.css
  frontend/app/routes/user-manual.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

style: update CSS variable declaration for theming
  frontend/app/app.css
Due: frontend-prettier

Add user topic favorites feature and fix formatting issues
  backend/alembic/versions/1525509e25d2_add_user_topic_favorites.py
  backend/app/db/models.py
  backend/app/db/seed.py
  backend/app/db/seed_quiz_data.py
  backend/app/routers/admin_router.py
  backend/app/routers/auth_router.py
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
  frontend/app/components/game-modes/action-buttons.tsx
  frontend/app/components/game-modes/all-quizzes-selection.tsx
  frontend/app/components/topic-detail/topic-quizzes-display.tsx
  frontend/app/hooks/useGameModeSelection.ts
  frontend/app/hooks/useTopicDetail.ts
  frontend/app/routes/game-modes.tsx
  frontend/app/routes/topics.tsx
  frontend/app/services/api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

Update erm.md
  docs/erm.md
Due: none

feat: implement search functionality in user manual (#27)
  frontend/app/app.css
  frontend/app/routes/user-manual.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat: add user management endpoints and admin role verification
  .cursor/rules/frontend.mdc
  .pre-commit-config.yaml
  Makefile
  backend/app/routers/admin_router.py
  backend/app/schemas/user.py
  backend/app/services/user_admin_service.py
  backend/tests/README.md
  backend/tests/e2e/test_websocket.py
  backend/tests/integration/test_admin_users_router.py
  backend/tests/unit/test_user_admin_service.py
  backend/tests/unit/test_user_schema.py
  frontend/app/services/user-admin.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/tests/README.md
  frontend/tests/e2e/auth-flow.test.ts
  frontend/tests/e2e/helpers/auth.ts
  frontend/tests/e2e/quiz-completion.test.tsx
  frontend/tests/integration/auth-flow.test.tsx
  frontend/tests/integration/user-admin.test.ts
  frontend/tests/unit/admin-users-page.test.tsx
  frontend/tests/unit/user-management-modal.test.tsx
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

chore: replace CI workflow with dedicated workflows for build, lint, test, and security
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-unit-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-tests: any of: ^backend/
