Repository paifgx/quizdom: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python backend hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        files: ^backend/
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: ^backend/
        args: ['--max-line-length=88', '--extend-ignore=E203,W503,E501']

  # Frontend TypeScript/React hooks
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-unit-tests
        name: Frontend Unit Tests
        entry: bash -c 'cd frontend && npm run test:unit'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Backend Python testing
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && python -m pytest tests/ --tb=short'
        language: system
        files: ^backend/
        pass_filenames: false

refactor(backend): update pytest configuration and refactor Pydantic model configurations
  backend/app/schemas/quiz_admin.py
  backend/pytest.ini
Due: backend-tests

refactor(frontend): update type imports and improve ErrorBoundary component
  frontend/app/root.tsx
  frontend/app/routes/home.tsx
  frontend/tests/unit/app.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

fix(ci): update test command in CI workflow to run unit tests
  .github/workflows/ci.yml
Due: none

Implement ERM schema changes and update user management
  backend/.gitignore
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/001_implement_erm.py
  backend/alembic/versions/README.md
  backend/app/db/helpers.py
  backend/app/db/models.py
  backend/app/db/seed.py
  backend/app/routers/auth.py
  backend/app/routers/user.py
  backend/requirements.txt
  docs/MIGRATION_GUIDE.md
  docs/erm.md
Due: backend-tests

Refactor user management queries and enhance role handling
  backend/app/db/helpers.py
  backend/app/db/models.py
  backend/app/routers/user.py
Due: backend-tests

Add Makefile for project setup and management
  Makefile
Due: none

Update AuditLogs model to use Column for JSON field and change meta type to dict
  backend/app/db/models.py
Due: backend-tests

Add initial database schema migration
  backend/alembic/versions/000_initial_initial_schema.py
  backend/alembic/versions/001_implement_erm.py
Due: backend-tests

Update user manual with .md file revised content and structure
  user-manual.md
Due: none

chore(makefile): add db-seed target to run database seeding script
  Makefile
Due: none

fix: resolve difficulty enum type mismatch and improve naming
  backend/alembic/versions/ada817a8cedb_change_difficulty_column_to_integer.py
  backend/app/db/models.py
  backend/app/schemas/quiz_admin.py
  backend/pyproject.toml
  backend/tests/test_models.py
Due: backend-tests

fix(backend): resolve difficulty enum storage issue in question creation
  backend/app/db/models.py
  backend/app/services/quiz_admin_service.py
Due: backend-tests

fix: resolve quiz creation with selected questions and batch creation
  backend/app/schemas/quiz_admin.py
  backend/app/services/quiz_admin_service.py
  frontend/app/routes/admin.quiz-edit.tsx
  frontend/app/services/quiz-admin.ts
  frontend/app/types/quiz.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

Update user manual .md file with revised gameplay descriptions and FAQs, file is now 99% finished
  user-manual.md
Due: none

Update user manual in frontend with enhanced gameplay descriptions and translations
  frontend/app/routes/user-manual.tsx
  frontend/app/utils/translations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat: enhance quiz management with publishing and archiving features
  .devcontainer/setup.sh
  backend/alembic/versions/002_add_game_session_tracking.py
  backend/app/core/metrics.py
  backend/app/db/models.py
  backend/app/routers/admin_router.py
  backend/app/routers/game.py
  backend/app/schemas/game.py
  backend/app/services/quiz_admin_service.py
  frontend/app/hooks/useHybridGameFlow.ts
  frontend/app/services/game-api.ts
  frontend/app/utils/feature-flags.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

Refactor configuration files for consistency and clarity
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/API_VERSIONING.md
  docs/IMAGE_UPLOAD_IMPLEMENTATION.md
  docs/USER_ADMINISTRATION_IMPLEMENTATION.md
  docs/branch-strategy.md
  docs/game-implementation.md
  frontend/app/routes/user-manual.tsx
  frontend/app/utils/translations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

Update user manual and frontend components for improved clarity and consistency
  frontend/app/routes/user-manual.tsx
  user-manual.md
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

feat(game): add game session tracking and quiz management
  backend/alembic/versions/002_game_tracking.py
  backend/app/main.py
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
  backend/app/services/quiz_admin_service.py
  frontend/app/services/api.ts
  frontend/app/services/game-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests, backend-tests

fix(backend): resolve type safety and linting issues in services and routers
  .cursor/rules/backend.mdc
  backend/app/routers/game_router.py
  backend/app/services/quiz_admin_service.py
Due: backend-tests

feat(backend): refactor game routing and add quiz data seeding
  backend/app/db/seed_quiz_data.py
  backend/app/main.py
  backend/app/routers/auth.py
  backend/app/routers/game_router.py
  backend/app/routers/quiz.py
  backend/app/schemas/game.py
  backend/app/services/__init__.py
  backend/app/services/game_service.py
  backend/tests/test_auth.py
Due: backend-tests

feat(game): integrate backend game API and enhance game context management
  frontend/app/components/game/quiz-game-container.tsx
  frontend/app/contexts/GameContext.tsx
  frontend/app/hooks/useAuthenticatedGame.ts
  frontend/app/hooks/useGameWithBackend.ts
  frontend/app/routes.ts
  frontend/app/routes/quiz-game.tsx
  frontend/app/routes/test-game.tsx
  frontend/app/services/game.ts
  frontend/app/types/game.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

chore(docs): remove outdated documentation files
  docs/API_VERSIONING.md
  docs/IMAGE_UPLOAD_IMPLEMENTATION.md
  docs/MIGRATION_GUIDE.md
  docs/USER_ADMINISTRATION_IMPLEMENTATION.md
  docs/game-implementation.md
Due: none

feat(backend): refactor routing and enhance user authentication
  backend/app/main.py
  backend/app/routers/auth_router.py
  backend/app/routers/game.py
  backend/app/routers/game_router.py
  backend/app/routers/user.py
  backend/app/routers/user_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
Due: backend-tests

feat(game): enhance answer submission and validation logic
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
Due: backend-tests

feat(game): enhance game router and response models to improve gameplay
  backend/app/routers/game_router.py
  backend/app/schemas/game.py
Due: backend-tests

fix: lint & types
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/000_initial_initial_schema.py
  backend/alembic/versions/001_implement_erm.py
  backend/alembic/versions/002_game_tracking.py
  backend/alembic/versions/ada817a8cedb_change_difficulty_column_to_integer.py
  backend/app/core/metrics.py
  backend/app/core/security.py
  backend/app/db/helpers.py
  backend/app/db/models.py
  backend/app/db/seed.py
  backend/app/db/seed_quiz_data.py
  backend/app/db/session.py
  backend/app/routers/admin_router.py
  backend/app/routers/auth_router.py
  backend/app/routers/game_router.py
  backend/app/routers/user_router.py
  backend/app/schemas/game.py
  backend/app/services/game_service.py
  backend/app/services/quiz_admin_service.py
  backend/tests/test_auth.py
  backend/tests/test_models.py
Due: backend-tests

fix: lint & types
  backend/app/db/helpers.py
  backend/app/routers/auth_router.py
  backend/app/routers/user_router.py
  backend/app/schemas/user.py
  backend/app/services/quiz_admin_service.py
Due: backend-tests

fix: additional type annotations and fixes
  backend/app/db/seed_quiz_data.py
  backend/app/main.py
  backend/app/routers/admin_router.py
Due: backend-tests

fix(backend): add type annotations to fix mypy strict mode issues
  backend/app/db/seed_quiz_data.py
  backend/app/routers/admin_router.py
Due: backend-tests

docs(quizdom): add status report and task list
  docs/QUIZDOM_REVIEW.md
  docs/QUIZDOM_STATUS_AND_TASKS.md
Due: none

Refactor configuration files for consistency and clarity
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/branch-strategy.md
  frontend/app/routes/user-manual.tsx
  frontend/app/utils/translations.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

Update backend/app/services/game_service.py
  backend/app/services/game_service.py
Due: backend-tests

fix(eslint): resolve all TypeScript and React Hook warnings
  frontend/app/hooks/useHybridGameFlow.ts
  frontend/app/routes/test-game.tsx
  frontend/app/services/api.ts
  frontend/app/services/game-api.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck, frontend-unit-tests

fix(alembic): suppress flake8 F401 warning for model imports
  backend/alembic/env.py
Due: backend-tests
